<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>GL demo</title>



<script>


if((navigator.userAgent.match(/iPhone/i)) || (navigator.userAgent.match(/iPod/i))) { 

   if (document.cookie.indexOf("iphone_redirect=false") == -1){
		navigator.geolocation.getCurrentPosition(success, fail);
			// success callback, gets passed position object
			
	}
	
}

function success(position) // 'position' can be named anything
{
	window.location ='mobile/geo/?lat=' + position.coords.latitude + '&lon=' + position.coords.longitude; 
	
}

function fail(){
	document.write('fail');
}

</script>
</head>
<body>
	

<h1>GL demo</h1>

<p>
	<h3>Here's a list of the latest places</h3>
	<br/>
	{%for place in places%}
	<a href="/p/{{place.slug}}/{{place.id}}/">{{place.name}}</a><br/>
	{%endfor%}
	
	
</p>
</body>
</html>