<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>GL demo</title>

<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
<style type="text/css" media="screen">@import "/static/iui.css";</style>
<script type="application/x-javascript" src="/static/iui.js"></script>

<script>


if((navigator.userAgent.match(/iPhone/i)) || (navigator.userAgent.match(/iPod/i))) { 

   if (document.cookie.indexOf("iphone_redirect=false") == -1){
		navigator.geolocation.getCurrentPosition(success, fail);
			// success callback, gets passed position object
			
	}
	
}

function success(position) // 'position' can be named anything
{
	window.location ='mobile/geo/?lat=' + position.coords.latitude + '&lon=' + position.coords.longitude; 
	
}

function fail(){
	document.write('fail');
}

</script>
</head>
<body>