<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
<title>GL demo</title>
<script type="text/javascript" src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php"></script> 




</head>
<body>
	<script type="text/javascript">


	if((navigator.userAgent.match(/iPhone/i)) || (navigator.userAgent.match(/iPod/i)) || (navigator.userAgent.match(/Android/i)))  { 

	   window.location ='/geolocate/?'; 
			//navigator.geolocation.getCurrentPosition(success, fail);
				// success callback, gets passed position object


	}

	function success(position) // 'position' can be named anything
	{
		window.location ='mobile/geo/?lat=' + position.coords.latitude + '&lon=' + position.coords.longitude; 

	}

	function fail(){
		document.write('fail');
	}

</script>	

<h1>GL demo</h1>

<p>
	<h3>Here's a list of the latest places</h3>
	<br/>
	{%for place in places%}
	<a href="/p/{{place.slug}}/{{place.id}}/">{{place.name}}</a><br/>
	{%endfor%}
	
	<br/>
	Search for a place by name:&nbsp;<form action="/search/"><input type="text" name="s" length="10"/>&nbsp;<input type="submit" value="Search"/></form>
	
	<br/>
	<br/>
	Browse places near you:&nbsp;<form action="/locate/"><input type="text" name="l" length="10"/>&nbsp;<input type="submit" value="Geolocate it"/></form>
	
	
<br/>


Last tips:<br/>
{%for tip in tips%}

<b><a href="/p/{{tip.place.slug}}/{{tip.place.id}}/">{{tip.place.name}}</a></b> - <em>{{tip.text}}</em><br/>
{%endfor%}


Last activities by our users:<br/>
{%for like in likes%}

<b><a href="/p/{{like.place.slug}}/{{like.place.id}}/">{{like.place.name}}</a></b> - <img src="https://graph.facebook.com/{{like.user.username}}/picture"><br/>
{%endfor%}




{% if user.is_authenticated %}
<img src='https://graph.facebook.com/{{user.username}}/picture' class=" fb_profile_pic_rendered FB_ElementReady"/>&nbsp; welcome back, {{user.first_name}}!
{%else%}
<a href="https://graph.facebook.com/oauth/authorize?client_id=129708490411788&redirect_uri=http://www.euproweb.eu/login/&scope=publish_stream,email&display=popup">
  <img src="http://developers.facebook.com/images/devsite/login-button.png" border="0"/>
</a>{%endif%}
	<script> 

	function InitConnected(){

		}

		function InitNotConnected(){

		}	



	FB.init("f80b5de040e212abb4c6ad89a96dfa2e", "/xd_receiver.html", {"ifUserConnected": InitConnected, "ifUserNotConnected": InitNotConnected, "reloadIfSessionStateChanged": false});

	</script>	
</p>
</body>
</html>