<!DOCTYPE html>
<html>
<head>



<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<style type="text/css" media="screen">@import "/static/iui.css";</style>
<script type="application/x-javascript" src="/static/iui.js"></script>
<script type="text/javascript" 
src="http://maps.google.com/maps/api/js?sensor=false&region=IT">
</script>
<script type="text/javascript">
  

  function initializeMap(lat, longt) {
	
    var latlng = new google.maps.LatLng({{lat}}, {{lon}});
    var myOptions = {
      zoom: 16,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
	  disableDefaultUI: true,
    };
    var map = new 
google.maps.Map(document.getElementById("map_canvas"),myOptions);


var image_eat = new google.maps.MarkerImage('http://piazza.s3.amazonaws.com/paleblue_MarkerE.png',
      
      new google.maps.Size(20, 34),
      
      new google.maps.Point(0,0),

      new google.maps.Point(10, 34));
var image_shopping = new google.maps.MarkerImage('http://piazza.s3.amazonaws.com/red_MarkerS.png',
      
      new google.maps.Size(20, 34),
      
      new google.maps.Point(0,0),

      new google.maps.Point(10, 34));

var image_visit = new google.maps.MarkerImage('http://piazza.s3.amazonaws.com/yellow_MarkerV.png',
      
      new google.maps.Size(20, 34),
      
      new google.maps.Point(0,0),

      new google.maps.Point(10, 34));
	
	var image = new 
google.maps.MarkerImage('http://www.tourdeturtles.org/markers/placemark_circle.png',
	      // This marker is 20 pixels wide by 32 pixels tall.
	      new google.maps.Size(32, 33),
	      // The origin for this image is 0,0.
	      new google.maps.Point(0,0),

	      new google.maps.Point(0, 32));
	var marker = new google.maps.Marker({
		position: latlng,
		map: map,
		title: 'Current location',
		icon: image,
		zIndex: 0
	});
		{%for place in places%}
		    var myLatLng = new 
google.maps.LatLng({{place.geolat}}, {{place.geolong}});
		    var marker = new google.maps.Marker({
		        position: myLatLng,
		        map: map,
		        title: '{{place.name}}',
				{%ifequal places.category 1%}
				icon: image_visit,
				{%endifequal%}
				{%ifequal places.category 2%}
				icon: image_eat,
				{%endifequal%}
				{%ifequal places.category 3%}
				icon: image_shopping,
				{%endifequal%}
				zIndex: {{forloop.counter}}
		    });
			
			google.maps.event.addListener(marker, 'click', 
function(i) {
				var url = 
'/mobile/p/{{place.slug}}/{{place.id}}/';
			    window.location = url;
			  });

  		{%endfor%}
  }
</script>



</head>
<body onload="initializeMap()">
	<div class="toolbar">
	         <h1 id="pageTitle">Around You</h1>
				<a id="backButton" class="button" href="/map/" target="self">Where am I?</a>
			<a class="button" href="/mobile/geo/?lat={{lat}}&lon={{lon}}" target="_self">List View</a>
	</div>        

	<div class="panelmap" id="mapdiv" selected="true">
	<div id="map_canvas" style="width:320px;height:480px;"></div>
	</div>
</body>


