


<div class="toolbar">
    <h1 id="pageTitle">{{place.name}}</h1>
    <a class="backButton"  href="/" target="_self">Back</a>
    <a class="button" href="#searchForm">I Like this place</a>
</div>


<div id="placedata" class="panel" title="{{place.name}}">
<!--<a class="button" href="#searchForm">Mi piace</a>-->
<h2>

<b>{{place.city}}</b> {{place.address}}<br/>{{place.foursquare_category}}<br/>
<a href="http://maps.google.com/?q={{place.geolat}},{{place.geolong}}" target="_self">Map</a>
</h2>

</div>

