<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>GL Demo</title>

<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
<style type="text/css" media="screen">@import "/static/iui.css";</style>
<script type="application/x-javascript" src="/static/iui.js"></script>
<script type="text/javascript"
    src="http://maps.google.com/maps/api/js?sensor=true">
</script>
</head>
<body>

<div class="toolbar">
    <h1 id="pageTitle">Places near you</h1>
    <a class="button leftButton"  href="/geolocate/?" target="_self">Where am I?</a>
    <a class="button" href="#searchForm">Search</a>
</div>

<ul id="home" title="Places" selected="true">
	
	<li><a href="/mobile/map/?lat={{lat}}&lon={{lon}}" target="_self"><b>Map</b></a></li>
	<li><a href="/mobile/home/cat/1/?lat={{lat}}&lon={{lon}}">Visit</a></li>
	<li><a href="/mobile/home/cat/2/?lat={{lat}}&lon={{lon}}">Eat</a></li>
	<li><a href="/mobile/home/cat/3/?lat={{lat}}&lon={{lon}}">Shop</a></li>
	<li><a href="/mobile/home/cat/4/?lat={{lat}}&lon={{lon}}">Hang out</a></li>
	{%for place in venues%}
    <!--><li><a href="/mobile/p/{{place.slug}}/{{place.id}}/?lat={{lat}}&lon={{lon}}" target="_self">{{place.name}}</a></li>-->
    {%endfor%}

</ul>


<form id="searchForm" class="dialog"  action="/mobile/geo/?lat={{lat}}&lon={{lon}}" target="_self">
    <fieldset>
        <h1>Search for a place</h1>
        <a class="button leftButton" type="cancel">Cancel</a>
        <a class="button blueButton" type="submit">Search</a>
        
        <label>Name:</label>
        <input id="s" type="text" name="s"/>
        <input type="hidden" name="lat" value="{{lat}}"/><input type="hidden" name="lon" value="{{lon}}"/>
    </fieldset>

</form>



</body>
</html>

