
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>GL Demo</title>

<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
<style type="text/css" media="screen">@import "/static/iui.css";</style>
<script type="application/x-javascript" src="/static/iui.js"></script>
<script type="text/javascript"
    src="http://maps.google.com/maps/api/js?sensor=true">
</script>
<script type="text/javascript" src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php"></script> 
</head>
<body>


<div class="toolbar">
    <h1 id="pageTitle">{{place.name}}</h1>
    <a class="button leftButton"   href="/mobile/geo/?lat={{lat}}&lon={{lon}}" target="_self">Back</a>
    
</div>


<div id="placedata" class="panel" title="{{place.name}}" selected="true">
<!--<a class="button" href="#searchForm">Mi piace</a>-->
<h2>

<b>{{place.city}}</b> {{place.address}}<br/>{{place.foursquare_category}}<br/>
<a href="http://maps.google.com/?daddr={{place.geolat}},{{place.geolong}}&saddr={{lat}},{{lon}}" target="_self">Directions from here</a>
</h2>


{% if user.is_authenticated %}
<img src='https://graph.facebook.com/{{user.username}}/picture' class=" fb_profile_pic_rendered FB_ElementReady"/>&nbsp; welcome back, {{user.first_name}}!
<br/>
Enter your tip about this place:<br/>
<form action="/services/tip/{{place.id}}/">
	<textarea columns="10" rows="5" name="t"></textarea><br/>
	<input type="submit" value="Save"/>
{%else%}
<a href="https://graph.facebook.com/oauth/authorize?client_id=129708490411788&redirect_uri=http://www.euproweb.eu/login?backTo=/mobile/p/{{place.slug}}/{{place.id}}/&scope=publish_stream,email&display=touch" target="_self">
  <img src="http://developers.facebook.com/images/devsite/login-button.png" border="0"/>
</a>{%endif%}

</div>

</body>
</html>

