<script type="text/javascript"
    src="http://maps.google.com/maps/api/js?sensor=true">
</script>

<div id="placedata" class="panel" title="{{place.name}}">
<a class="button" href="#searchForm">Mi piace</a>
<h2>

<b>{{place.city}}</b> {{place.address}}<br/>{{place.foursquare_category}}<br/>
<a href="#map_canvas">Map</a>
</h2>
<div id="map_canvas" style="width: 280px; height: 342px; "></div>
	
</div>
</div>
<script>
var map;
 
function initializeMap() {
    if (GBrowserIsCompatible()) {
        //---shows the Google Maps in the DIV element---
        map = new GMap2(document.getElementById("map_canvas"));
 
        //---set it to a particular location---
        map.setCenter(new GLatLng(37.4419, -122.1419), 18);        
 
        //---set the map type to Hybrid---
        map.setMapType(G_HYBRID_MAP);
    }
}

</script>

