<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
<title>{{place.name}} - GL</title>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

<script type="text/javascript"
    src="http://maps.google.com/maps/api/js?sensor=true">
</script>
<script type="text/javascript" src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php"></script> 

<script type="text/javascript">
  function initialize_map() {
    var latlng = new google.maps.LatLng({{place.geolat}}, {{place.geolong}});
    var myOptions = {
      zoom: 20,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map_canvas"),
        myOptions);

	var marker = new google.maps.Marker({
	      position: latlng, 
	      map: map, 
	      title:"{{place.name}}"
	  });
  }

</script>
<script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAeZHdmk7IDlnt6hw7bynNARTiKrmvSuRyOUKEganu8A-QaYUeARS27gAnpOMDycqa3URNPN1fP-_z7g"></script>
<script language="Javascript" type="text/javascript">
    //<![CDATA[

    google.load("jquery", "1.4.2");
	google.load("swfobject", "2.2");

	
</script>
</head>

<body onload="initialize_map();">
	<h1>{{place.name}}</h1><br/>
	<h3><em>{{place.geolat}} - {{place.geolong}}</em></h3>
	<br/>
	<h3>{{place.foursquare_category}}</h3>
	
	<br/>
	<h4><a href="/"><em>Go back</em></a><br/>
		
	<div id="fblike">{% if user.is_authenticated %}
		<img src='https://graph.facebook.com/{{user.username}}/picture' class=" fb_profile_pic_rendered FB_ElementReady"/>
		&nbsp;<a href="/services/like/{{place.id}}/">I Like this place!</a>
		
		{%endif%}<br/><br/>
		
		People who like this place:<br/>
		{%for like in likes%}<img src='https://graph.facebook.com/{{like.user.username}}/picture' class=" fb_profile_pic_rendered FB_ElementReady"/>{%endfor%}</div>
			
			<div id="map_canvas" style="width:500px; height:350px"></div>
	
	
	
	<script> 

	function InitConnected(){
		}

		function InitNotConnected(){

		}	



	FB.init("f80b5de040e212abb4c6ad89a96dfa2e", "/xd_receiver.html", {"ifUserConnected": InitConnected, "ifUserNotConnected": InitNotConnected});

	</script>
</body>
</html>